### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

print (school_data_complete) #to see if everything merged 

#summary = school_data_complete["type"].nunique()
#print(summary)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [43]:

total_schools = school_data_complete['school_name'].unique()  
print(len(total_schools))
total_number_schools = len(total_schools)

total_students = school_data_complete['student_name'].count()
print(total_students)

total_budget = school_data_complete['budget'].unique().sum()
print(total_budget)

avg_math_score = school_data_complete['math_score'].mean()
print(avg_math_score)

avg_reading_score = school_data_complete['reading_score'].mean()
print(avg_reading_score)

num_pass_math_score = school_data_complete.loc[school_data_complete['math_score'] >= 70]['math_score'].count()
perc_pass_math_score = num_pass_math_score/total_students*100
print(perc_pass_math_score)

num_pass_reading_score = school_data_complete.loc[school_data_complete['reading_score'] >= 70]['reading_score'].count()
perc_pass_reading_score = num_pass_reading_score/total_students*100
print(perc_pass_reading_score)

num_math_reading = school_data_complete.loc[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score']>= 70)]['student_name'].count()
perc_math_reading = num_math_reading/total_students*100
print(perc_math_reading)

table_data = {
    'Total Schools': [total_number_schools],
    'Total Students': [total_students],
    'Total Budget':[total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score':[avg_reading_score],
    '% Passing Math' : [perc_pass_math_score],
    '% Passing Readiing' :[avg_reading_score],
    '% Paaing Overall': [perc_math_reading]
}
print (pd.DataFrame(table_data))

15
39170
24649428
78.98537145774827
81.87784018381414
74.9808526933878
85.80546336482001
65.17232575950983
   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score
0               81.87784

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [55]:
#school = school_data_complete.df.loc('school_name').groupby(['school_name'])
#print(school)

#school_types = school_data_complete.set_index('school')['type']
#print(school_types)
school_data_complete.type

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type